* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #00040a;
    --cta-orange: #360603;
    --background-gray: #e9edf5;
    --contrast-navy: #1E293B;
    --background-light-arsh: #dce0e7;
    --shadow-lg: 2px 4px 8px rgba(0,0,0,0.2);
    --shadow-sm: 2px 4px 8px rgba(0,0,0,0.4);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--background-gray);
}

header {
    background-color: var(--dark-blue);
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: var(--contrast-navy);
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    font-size: 1em;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

nav li a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
}

aside {
    background-color: var(--background-light-arsh);
}

footer {
    background-color: var(--dark-blue);
    text-align: center;
    color: white;
}

p {
    font-size: 1.3em;
    padding: 3rem;
}

@media (max-width: 400px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    section, aside {
        width: 100%;
    }
}
